<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<a href="https://www.youtube.com/channel/UCGZBG6dhEIZBMIcaxqJukFg">YouTube Shorts</a>
<a href="https://www.youtube.com/channel/UCe0DXKkQMU5cCnH2YTvysaQ">YouTube</a>
<a href="https://dbshorts.github.io/">Website</a>
<a href="https://scratch.mit.edu/users/NAnd_DProductions17/">Scratch</a>
<a href="https://www.twitch.tv/dbshorts">Twitch</a>
<a href="https://twitter.com/DB_Shorts08">Twitter</a>
<a href="https://dbshorts.github.io/damians-dandy-discord.html">Discord Server</a>
<a href="https://www.twitch.tv/nanddproductions">N&D Twitch</a>
<a href="https://www.youtube.com/channel/UCXm-Xgt4hMRfjH9o00uj7jA">N&D YouTube</a>
<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
